.App {
  /* text-align: center; */
  position: relative;
  margin: 0px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.fab {
  position: fixed;
  right: 10px;
  bottom: 30px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #31b97e;
  cursor: pointer;
  z-index: 10;
}

.fab .fab-icon {
  color: white;
  font-size: 30px;
  font-weight: 700;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}